{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'zip/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'zip/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'zip/css/style.css' %}" />
    <title>Quiz</title>
</head>

<body>
    <div class="overall text-center margin-top">
        <img src="images/bingo.png" class="my-4 animate__animated animate__backInDown img-fluid" alt="correct" />
        <br /><a href="#" class="text-white">NEXT</a>
    </div>
</body>

</html>