{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'zip/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'zip/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'zip/css/style.css' %}" />
    <title>Quiz</title>
</head>

<body>
    <div class="top row p-2 m-0">
        <div class="col-6">
            <span class="heading text-white">Name: &nbsp;</span>
            <span class="name">{{user.place.name }}</span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="heading text-white">scores &nbsp;</span>
            <span class="name">{{user.total_score }}</span>
        </div>
    </div>
    <div class="overall text-center">
        <div class="col-sm-12 num-wrap animate__animated animate__backInDown">


            <span class="numb">{{user.level }}</span>
        </div>

        <hr class="line margin1 nofor_small" />
        <span
            class="ques animate__animated animate__rubberBand animate__delay-1s d-flex align-items-center justify-content-center">
            <p>{{ question.questionText }}:</p>

        </span>
        <div class="animate__animated animate__fadeInUp animate__delay-2s">
            <div class="d-flex d-1">
                   {% if question.rightAnswer == 'OptionOne' %}
                   <div class="col"><a href={% if shown %} "/correct?username={{username}}" {% else %} "#" {% endif %}  class={% if shown %}"hex"{% else %}"hexRight" {% endif%}><span class="option option1">{{ question.optionOne }}</span></a>
            {% else %}
            <div class="col"><a href={% if shown %} "/wrong?username={{username}}" {% else %} "#" {% endif %} class={% if shown %}"hex"{% else %}"hexWrong"{% endif%}><span class="option option1">{{ question.optionOne }}</span></a>
            {% endif %}

                </div>
                <hr class="line margin2 nofor_big" />
                {% if question.rightAnswer == 'OptionTwo' %}
                <div class="col"><a href={% if shown %} "/correct?username={{username}}" {% else %} "#" {% endif %}  class={% if shown %}"hex"{% else %}"hexRight"{% endif%}><span class="option option2">{{ question.optionTwo }}</span></a>
                {% else %}
                <div class="col"><a href={% if shown %} "/wrong?username={{username}}" {% else %} "#" {% endif %} class={% if shown %}"hex"{% else %}"hexWrong"{% endif%}><span class="option option2">{{ question.optionTwo }}</span></a>
                {% endif %}



                </div>
            </div>
            <hr class="line margin2" />
        </div>
        <div class="animate__animated animate__fadeInUp animate__delay-3s">
            <div class="d-flex d-1">

               {% if question.rightAnswer == 'OptionThree' %}
                <div class="col"><a href={% if shown %} "/correct?username={{username}}" {% else %} "#" {% endif %}  class={% if shown %}"hex"{% else %}"hexRight"{% endif%}><span class="option option3">{{ question.optionThree }}</span></a>
                {% else %}
                <div class="col"><a href={% if shown %} "/wrong?username={{username}}" {% else %} "#" {% endif %}  class={% if shown %}"hex"{% else %}"hexWrong"{% endif%}><span class="option option3">{{ question.optionThree }}</span></a>
                {% endif %}
                </div>
                <hr class="line margin2 nofor_big" />
                 {% if question.rightAnswer == 'OptionFour' %}
                <div class="col"><a href={% if shown %} "/correct?username={{username}}" {% else %} "#" {% endif %} class={% if shown %}"hex"{% else %}"hexRight"{% endif%}><span class="option option4">{{ question.optionFour }}</span></a>
                {% else %}
                <div class="col"><a href={% if shown %} "/wrong?username={{username}}" {% else %} "#" {% endif %} class={% if shown %}"hex"{% else %}"hexWrong"{% endif%}><span class="option option4">{{ question.optionFour }}</span></a>
                {% endif %}
                </div>
            </div>
            <hr class="line margin2" />
        </div>

    </div>
     {% if shown %}
        ''
        {% else %}
        <div class="col-12 text-center float-start" style="margin-top: 100px">
             <a href="quiz?username={{username}}&changeLevel=1" class="text-white">NEXT</a>
        </div>

        {% endif %}
</body>
<script>
    function clickOne(){
        alert("A-One");
    }
</script>

</html>